@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../fonts/Poppins/Poppins-Bold.ttf');
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', Courier, monospace;
}

span {
  display: block;
}

